<ion-header>
  <ion-toolbar>
    <ion-title>Trabalho de Manejo de Rebanho</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label>Tipo de Manejo : </ion-label>
    <ion-input type="text" name="title"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Número do Animal : </ion-label>
    <ion-input type="text" name="title"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Categoria : </ion-label>
    <ion-input type="text" name="title"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Raça :</ion-label>
    <ion-input type="text" name="title"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Sexo : </ion-label>
    <ion-input type="text" name="title"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Peso (Kg): </ion-label>
    <ion-input type="text" name="title"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Aparte :</ion-label>
    <ion-input type="text" name="title"></ion-input>
  </ion-item>

</ion-content>
